<div>
    <h5 class="mb-0">Trả lời</h5>
    <hr>
</div>
<div class="col-md-12 mt-2">
    <div>
       {{userName}}: {{data?.message}}
    </div>
    <div>
        <label style="font-weight: bold; margin-top: 30px;">Câu trả lời</label><br>
        <textarea class="form-control w-100" placeholder="Nhập câu trả lời" [(ngModel)]="answer"></textarea>
    </div>
</div>
<mat-dialog-actions align="end" class="p-0 mt-3">
    <button class="btn btn-primary mr-2" type="submit" style="height: 42px;" [disabled]="!answer" (click)="reply()">Trả lời</button>
    <button mat-button [mat-dialog-close]="true" class="btn btn-danger-primary"
        style="height: 42px;">Hủy</button>
</mat-dialog-actions>