<div class="container">
    <div *ngFor="let order of processOrders">
        <div class="row book-request"  *ngIf="!order.isVerify">
            <div class="col-md-8">
                <h5>{{order.name}} đã yêu cầu đặt bàn.</h5>
                <p style="margin-bottom: 8px;">Số lượng người: {{order.numberOfPeople}}</p>
                <p class="d-flex align-content-center"><span><mat-icon style="font-size: 18px;"> phone</mat-icon></span><span class="mr-3">{{order.phone}}</span><span>{{order.date}}</span></p>
            </div>
            <div class="col-md-4">
                <button mat-raised-button color="success" class="mr-3" (click)="chooseTable(order.id)">Xếp bàn</button>
                <button mat-raised-button color="warn">Từ chối</button>
            </div>
        </div>
    </div>
    
</div>