<div>
    <h5 class="mb-0">Thêm mới người dùng</h5>
    <hr>
</div>
<div>
</div>
<div class="col-md-12 mt-2">
    <div *ngIf="isShowRegister" class="form-group card-body" (ngSubmit)="register()">
        <label>Họ và tên</label><br>
        <input class="form-control" placeholder="Nhập họ và tên" [(ngModel)]="registerInfo.name"><br>
        <label>Địa chỉ</label><br>
        <input class="form-control" placeholder="Nhập địa chỉ" [(ngModel)]="registerInfo.address"><br>
        <label>Số điện thoại</label><br>
        <input class="form-control w-100" disabled placeholder="Nhập số điện thoại" [(ngModel)]="registerInfo.phone">
        <br>
        <div>
            <label for="">Vai trò</label>
            <ng-select placeholder="Chọn vai trò" appearance="outline" [items]="roleList" bindLabel="name"
                bindValue="code" [(ngModel)]="registerInfo.role">
            </ng-select>
        </div>
    </div>
</div>
<mat-dialog-actions align="end" class="p-0 mt-2">
    <button *ngIf="isShowRegister && !isEdit" class="btn btn-primary mr-2" type="submit" (click)="register()" style="height: 42px;">Đăng
        ký</button>
        <button *ngIf="isShowRegister && isEdit" class="btn btn-primary mr-2" type="submit" (click)="update()" style="height: 42px;">Lưu</button>
    <button *ngIf="isShowRegister" mat-button [mat-dialog-close]="true" class="btn btn-danger-primary"
        style="height: 42px;">Hủy</button>
</mat-dialog-actions>