<div class="container-fluit">
    <div class="row m-3" style="width: 100vw">
        <div class="col-md-5 mt-3 border-bound p-0" style="box-shadow: 0 4px 12px 0 rgb(34 41 47 / 12%)">
            <div style="padding: 18px">
                <h5 class="mb-2">Thắc mắc của nhân viên</h5>
                <table style="min-width: 458px;" class="table ">
                    <thead>
                      <tr>
                        <th scope="col" style="width: 25px; text-align: center;">#</th>
                        <th scope="col">Câu hỏi</th>
                        <th scope="col" style="width: 70px">Thao tác</th>
                      </tr>
                    </thead>
                    <tbody style="max-height: 300px;">
                      <tr *ngFor="let item of listQuestionWaiter; let i = index">
                        <th scope="row" style="width: 25px;text-align: center;">{{i+1}}</th>
                        <td>{{item.message}}</td>
                        <td style="width: 70px">
                            <div class="d-flex justify-content-center">
                                <button title="Trả lời" style="background: transparent; border: none;" (click)="openModalReply(item,'waiter')"><i
                                        style="font-size: 20px; color: #01904a;"
                                        class="fas fa-comment-dots"></i></button>
                            </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
        <div class="col-md-5 mt-3 offset-md-1 border-bound p-0" style="box-shadow: 0 4px 12px 0 rgb(34 41 47 / 12%)">
            <div style="padding: 18px">
                <h5 class="mb-2">Thắc mắc của nhà bếp</h5>
                <table style="min-width: 458px;" class="table ">
                    <thead>
                      <tr>
                        <th scope="col" style="width: 25px; text-align: center;">#</th>
                        <th scope="col">Câu hỏi</th>
                        <th scope="col" style="width: 70px">Thao tác</th>
                      </tr>
                    </thead>
                    <tbody style="max-height: 300px;">
                      <tr *ngFor="let item of listQuestionKitchen; let i = index">
                        <th scope="row" style="width: 25px;text-align: center;">{{i+1}}</th>
                        <td>{{item.message}}</td>
                        <td style="width: 70px">
                            <div class="d-flex justify-content-center">
                                <button title="Trả lời" style="background: transparent; border: none;" (click)="openModalReply(item,'chef')"><i
                                        style="font-size: 20px; color: #01904a;"
                                        class="fas fa-comment-dots"></i></button>
                            </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
        <div class="col-md-5 mt-3 border-bound p-0" style="box-shadow: 0 4px 12px 0 rgb(34 41 47 / 12%)">
            <div style="padding: 18px">
                <h5 class="mb-2">Thắc mắc của khách hàng</h5>
                <table style="min-width: 458px;" class="table ">
                    <thead>
                      <tr>
                        <th scope="col" style="width: 25px; text-align: center;">#</th>
                        <th scope="col">Câu hỏi</th>
                        <th scope="col" style="width: 70px">Thao tác</th>
                      </tr>
                    </thead>
                    <tbody style="max-height: 300px;">
                      <tr *ngFor="let item of listQuestionCustomer; let i = index">
                        <th scope="row" style="width: 25px;text-align: center;">{{i+1}}</th>
                        <td>{{item.message}}</td>
                        <td style="width: 70px">
                            <div class="d-flex justify-content-center">
                                <button title="Trả lời" style="background: transparent; border: none;" (click)="openModalReply(item,'customer')"><i
                                        style="font-size: 20px; color: #01904a;"
                                        class="fas fa-comment-dots"></i></button>
                            </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
        <div class="col-md-5 mt-3 offset-md-1 border-bound p-0" style="box-shadow: 0 4px 12px 0 rgb(34 41 47 / 12%)">
            <div style="padding: 18px">
                <h5 class="mb-2">Thắc mắc của thu ngân</h5>
                <table style="min-width: 458px;" class="table ">
                    <thead>
                      <tr>
                        <th scope="col" style="width: 25px; text-align: center;">#</th>
                        <th scope="col">Câu hỏi</th>
                        <th scope="col" style="width: 70px">Thao tác</th>
                      </tr>
                    </thead>
                    <tbody style="max-height: 300px;">
                      <tr *ngFor="let item of listQuestionReceptionist; let i = index">
                        <th scope="row" style="width: 25px;text-align: center;">{{i+1}}</th>
                        <td>{{item.message}}</td>
                        <td style="width: 70px">
                            <div class="d-flex justify-content-center">
                                <button title="Trả lời" style="background: transparent; border: none;" (click)="openModalReply(item,'receptionist')"><i
                                        style="font-size: 20px; color: #01904a;"
                                        class="fas fa-comment-dots"></i></button>
                            </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>