<h3 mat-dialog-title>{{data.tableName}} - Tầng:{{data.floor}}</h3>

<mat-dialog-content style="height: calc(100% - 96px);">
    <div class="row">
        <div class="col-md-6">
            <label style="font-weight: 600;">Ngày: </label>
            <span>{{date|date:'dd/MM/yyyy'}}</span>
        </div>
        <div class="col-md-6">
            <label style="font-weight: 600;">Giờ vào: </label>
            <span>{{parstring(order?.date)}}</span>
        </div>
        <div class="col-md-6">
            <label style="font-weight: 600;">Giờ in: </label>
            <span>{{date|date:'HH:mm'}}</span>
        </div>
        <div class="col-md-12">
            <label style="font-weight: 600;">Thu ngân: </label>
            <span>{{userLocal?.name}}</span>
        </div>
        <div class="col-md-6">
            <label style="font-weight: 600;">Địa chỉ: </label>
            <span>Hà Nội</span>
        </div>
        <div class="col-md-6">
            <label style="font-weight: 600;">Điện thoại: </label>
            <span>0915778525</span>
        </div>
    </div>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên món</th>
                <th style="text-align: center;" scope="col">Số lượng</th>
                <th style="text-align: center;" scope="col">Đơn giá giá</th>
                <th style="text-align: center;" scope="col">Thành tiền</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of foods; index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{item?.name}}</td>
                <td style="text-align: center;">{{item?.quantity}}</td>
                <td style="text-align: center;">{{item?.price}}.000đ</td>
                <td style="text-align: center;">{{item?.quantity*item?.price}}.000đ</td>
            </tr>
        </tbody>
    </table>
</mat-dialog-content>
<hr />
<div class="row">
    <div class="col-md-6">
        <label style="font-weight: 600;">Tổng tiền: </label>
    </div>
    <div class="col-md-6" style="text-align: end;">
        <span>{{data.totalMoney}}.000đ</span>
    </div>
</div>
<mat-dialog-actions align="end">
    <button class="btn btn-primary" mat-raised-button color="primary" (click)="save()" tabindex="1">In hóa đơn</button>
    <button class="btn btn-outline-primary" mat-raised-button mat-dialog-close tabindex="-1">Hủy bỏ</button>
</mat-dialog-actions>
